.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#input{
    width: 400px;
    padding :10px;
    text-align:center;

}

#btn{
    width: 425px;
    padding:10px;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid;


}